body {
	background: gray;
}

canvas {
	margin-left: calc(50vw - 300px)
}

button {
	float: right;
	padding: 10px;
	margin-left: 5px;
}

select {
	width: 600px;
	margin-left: calc(50vw - 300px);
	border: none;
	padding: 10px;
}

select:focus {
	outline: none;
}